{% extends 'base.html' %}

{% block content %}
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="background-color: #070354;">
        <div class="container-fluid">
            <span class="navbar-brand"><a href="/"><img src="{{ url_for('static', filename='assets/logos/cloudblue-logo-white.png') }}" style="max-height: 30px;" id="logoElement"></a></span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li>
                        <div class="btn-toolbar align-middle" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2" role="group" aria-label="First group">
                                <a href="/" class="btn btn-sm btn-outline-secondary text-light" role="button"><i class="bi bi-house"></i> Home </a>
                                <a href="/ticketlist" class="btn btn-sm btn-secondary text-light" role="button"><i class="bi bi-ticket-detailed"></i> Tickets </a>
                                <a href="/settings" class="btn btn-sm btn-secondary text-light" role="button"><i class="bi bi-gear"></i> Settings </a>
                            </div>
                        </div> 
                    </li>
                </ul>
        </div>
    </nav>
</header>
<!-- Documentation-specific content goes here -->
<h2>Documentation</h2>
<p>Here you can add your documentation content.</p>
{% endblock %}
