{% extends 'base.html' %}

{% block content %}
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="background-color: #070354;">
        <div class="container-fluid">
            <span class="navbar-brand"><img src="{{ url_for('static', filename='assets/logos/cloudblue-logo-white.png') }}" style="max-height: 30px;" id="logoElement"></span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active fw-bold" href="#" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/"><i class="bi bi-house"></i> Home</a></li>
                            <li><a class="dropdown-item" href="/ticketlist"><i class="bi bi-ticket-detailed"></i> Tickets</a></li>
                            <li><a class="dropdown-item" href="/documentation"><i class="bi bi-journal-richtext"></i> Documentation</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasConfig" aria-controls="offcanvasConfig"><i class="bi bi-person-gear"></i> Configuration</a></li>
                        </ul>
                    </li>
                </ul>
        </div>
    </nav>
</header>
<!-- Documentation-specific content goes here -->
<h2>Documentation</h2>
<p>Here you can add your documentation content.</p>
{% endblock %}
