{% extends 'base.html' %}

{% block content %}

<!-- Begin header content -->
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="background-color: #070354;">
        <div class="container-fluid">
            <span class="navbar-brand"><a href="/"><img src="{{ url_for('static', filename='assets/logos/cloudblue-logo-white.png') }}" style="max-height: 30px;" id="logoElement"></a></span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li>
                        <div class="btn-toolbar align-middle" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2" role="group" aria-label="First group">
                                <a href="/" class="btn btn-sm btn-secondary text-light" role="button"><i class="bi bi-house"></i> Home </a>
                                <a href="/ticketlist" class="btn btn-sm btn-outline-secondary text-light" role="button"><i class="bi bi-ticket-detailed"></i> Tickets </a>
                                <a href="/settings" class="btn btn-sm btn-secondary text-light" role="button"><i class="bi bi-gear"></i> Settings </a>
                                <a class="btn btn-sm btn-secondary"role="button" href="" id="homeButton" style="padding-top: 6px;">
                                    <i class="bi bi-arrow-clockwise text-white" style="margin-top:0px; display: inline-block;"></i>
                                    <span>Reload</span>
                                </a>
                            </div>
                        </div> 
                    </li>
                </ul> 
                <!-- Dropdown for Filter Category -->
                <div class="input-group me-2" style="max-width: 67%;">
                    <span class="input-group-text bg-secondary text-light btn btn-sm" style="padding-top: 6px;"> <i class="bi bi-funnel-fill"></i> Ticket Filters</span>
                    <select id="filterCategory" class="form-control form-control-sm form-select me-2" style="margin-left: 0px; max-width:200px;">
                        <option value="all">All</option>
                        <option value="company">Company</option>
                        <option value="group">Group</option>
                        <option value="agent">Agent</option>
                        <option value="tam">TAM</option>
                        <option value="tier">Tier</option>
                        <option value="priority">Priority</option>
                        <option value="status">Status</option>
                        <option value="type">Type</option>
                        <option value="environment">Environment</option>
                        <option value="escalated">Escalated</option>
                        <option value="overdue">Overdue</option>
                    </select>
                    <!-- Dropdown for Filter Value -->
                    <select id="filterValue" class="form-control form-control-sm form-select me-2" style="margin-left:0px;">
                        <!-- Options will be dynamically populated based on the category selection -->
                    </select>
                    <!-- Dropdown for Third Filter -->
                    <select id="focusFilter" class="form-control form-control-sm form-select me-2" style="max-width:150px;">
                        <option value="all">All</option>
                        <option value="focused">Focused</option>
                    </select>
                    <!-- Reset Button -->
                    <!-- <a class="btn btn-sm btn-secondary"role="button" href="" id="homeButton" style="padding-top: 6px;">
                        <i class="bi bi-arrow-clockwise text-white" style="margin-top:0px; display: inline-block;"></i>
                        <span>Reload</span>
                    </a> -->
                    <button id="resetFilters" class="btn btn-sm btn-secondary" type="button" data-toggle="tooltip" data-placement="bottom" title="Reset Filter"><i class="bi bi-x-circle"></i></button>
                    <button id="copyUrlButton" class="btn btn-sm btn-secondary" type="button" onclick="copyFilteredTicketsURLToClipboard()"data-toggle="tooltip" data-placement="top" title="Copy Filter"><i class="bi bi-copy"></i></button>
                </div>
        </div>
    </nav>
</header>
<!-- Ticket-specific content goes here -->
<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container-fluid">
    <p class="lead">
      <div class="row pt-2" id="ticketStats">
        <div class="card-group">
          <div class="card">
              <div class="card-header bg-dark align-middle">
                <h5 class="card-title text-white fw-bold align-middle text-center pt-2">Tickets</h5>
              </div>
            <div class="card-body">
              <p class="card-text fw-bold text-center" id="totalTickets">Loading...</p>
            </div>
            <!-- ... -->
          </div>
          <div class="card">
              <div class="card-header bg-dark align-middle">
                <h5 class="card-title text-white fw-bold align-middle text-center pt-2">Incidents</h5>
              </div>
            <div class="card-body">
              <p class="card-text fw-bold text-center" id="totalIncidents">Loading...</p>
            </div>
            <!-- ... -->
          </div>
          <div class="card">
              <div class="card-header bg-dark align-middle">
                <h5 class="card-title text-white fw-bold align-middle text-center pt-2">Service Requests</h5>
              </div>
            <div class="card-body">
              <p class="card-text fw-bold text-center" id="totalServiceRequests">Loading...</p>
            </div>
            <!-- ... -->
          </div>
          <div class="card">
              <div class="card-header bg-dark align-middle">
                <h5 class="card-title text-white fw-bold align-middle text-center pt-2">Escalated</h5>
              </div>
            <div class="card-body">
              <p class="card-text fw-bold text-center" id="totalEscalated">Loading...</p>
            </div>
            <!-- ... -->
          </div>
          <div class="card">
              <div class="card-header bg-dark align-middle">
                <h5 class="card-title text-white fw-bold align-middle text-center pt-2">Overdue</h5>
              </div>
            <div class="card-body">
              <p class="card-text fw-bold text-center" id="totalOverdue">Loading...</p>
            </div>
            <!-- ... -->
          </div>
        </div>
      </div>
      <div class="row justify-content-center" id="ticketProgressBar" style="padding-top: 10px;">
        <div class="mx-auto" style="width:98%;">
          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Amount of tickets in the view that are Read, Pending, or Done.">
            <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated bg-dark" style="width: 25%">loading...</div>
          </div>
        </div>
      </div>
     <table class="table table-striped table-hover table-sm align-middle" id="ticketsTable">
        <thead>
            <tr>
                <th class="text-center align-middle"><i class="bi bi-mailbox fw-bold" style="font-size: 1.25rem; font-weight: bold;"></i></th>  
                <th class="text-center align-middle">ID</th>
                <th class="text-truncate align-left">Company</th>
                <th class="text-left align-left">Tier</th>
                <th class="text-truncate align-left">Subject</th>
                <th class="text-left align-left">Priority</th>
                <th class="text-left align-left">Status</th>
                <th class="align-left">Type</th>
                <th class="align-left">Env.</th>
                <th class="text-left align-left">Escalated</th>
                <th class="text-left align-left">Overdue</th>
                <th class="text-center align-middle">Created</th>
                <th class="text-center align-middle" style="white-space:nowrap;">FR Due By</th>
                <th class="text-center align-middle">Due By</th>
                <th class="text-center align-middle" style="white-space:nowrap;">Last Update</th>
                <th class="align-left">Agent</th>
                <th class="align-left">Group</th>
                <th class="align-left">TAM</th>
                <th class="text-center align-middle">Score</th>
                <th class="text-center align-middle"><a class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasConfig" aria-controls="offcanvasConfig"><i class="bi bi-gear"></i></a></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <pre id="content">{{ results | safe }}</pre>
        </tbody>
    </table>
    </p>
  </div>
</main>

<div>
    <!-- Dynamically list tickets using Flask's templating engine -->
    {% for ticket in tickets %}
    <div>{{ ticket.summary }}</div>
    {% endfor %}
</div>


 <!-- Begin loading overlay content --> 
 <div id="loadingOverlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #070354; justify-content: center; align-items: center; z-index: 9998;">
  <div class="card mb-3 border border-0" style="max-width: 540px;" style="background-color: #070354;">
    <div class="row g-0">
      <div class="col-md-4" style="background-color: #070354;">
        <img src="https://i.pinimg.com/originals/57/61/5b/57615b8c0092a66c1d4058b1692955cc.gif" class="img-fluid rounded-start" alt="A walking duck.">
      </div>
      <div class="col-md-8" style="background-color: #070354;">
        <div class="card-body" style="background-color: #070354;">
          <h5 class="card-title" style="background-color: #070354;">
                <div style="display: flex; align-items: center; justify-content: center; z-index: 9999;">
                  <div class="spinner-border text-light" style="width: 2rem; height: 2rem;" role="status"></div>
                  <span style="padding-left: 10px; color: white; font-weight: bold;">Loading All Open Tickets...</span>
                </div>
          </h5>
          <p class="card-text small text-light text-center fw-lighter fst-italic" id="inspirationalText" style="padding-top:20px;">Loading some inspiration for you  ...</p>  
                 
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- Begin victory overlay content --> 
 <div id="victoryOverlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; justify-content: center; align-items: center; z-index: 9998;">
    <span><img src="{{ url_for('static', filename='assets/images/victory.gif') }}"></span>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Function to check if a specific cookie exists
    function doesCookieExist(cookieName) {
      return document.cookie.split(';').some((item) => item.trim().startsWith(`${cookieName}=`));
    }
  
    // Function to read a value from the 'fscs' cookie
    function readFromCookie(key) {
      let cookieValue = document.cookie.split('; ').find(row => row.startsWith('fscs='));
      if (cookieValue) {
        try {
          let data = JSON.parse(cookieValue.split('=')[1]); // Split by '=' and parse the JSON
          return data[key] || null; // Return null if the key does not exist
        } catch(e) {
          console.error("Error parsing cookie value", e);
          return null;
        }
      }
      return null;
    }
  
    // Function to toggle the display of elements based on cookie values
    function toggleElementDisplay() {
      // Check if the 'fscs' cookie exists
      if (doesCookieExist('fscs')) {
        // Read values for 'ticketStatus' and 'ticketProgressBar' from the cookie
        const ticketStatus = readFromCookie('ticketStatus');
        const ticketProgressBar = readFromCookie('ticketProgressBar');
  
        // Find DOM elements
        const ticketStatsElement = document.getElementById('ticketStats');
        const ticketProgressBarElement = document.getElementById('ticketProgressBar');
  
        // Toggle display based on the cookie values
        if (ticketStatsElement && ticketStatus !== null) {
          ticketStatsElement.style.display = ticketStatus ? '' : 'none !important';
        }
        if (ticketProgressBarElement && ticketProgressBar !== null) {
          ticketProgressBarElement.style.display = ticketProgressBar ? '' : 'none !important';
        }
      }
    }
  
    // Call the toggle function on page load
    toggleElementDisplay();
  });
  </script>

<script src="{{ url_for('static', filename='assets/js/cookies.js') }}" defer></script>
<!-- <script src="{{ url_for('static', filename='assets/js/ticketlist.js') }}" defer></script> -->
<script src="{{ url_for('static', filename='assets/js/fsc-suite.js') }}" defer></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}" defer></script>
<script src="{{ url_for('static', filename='assets/js/refresh.js') }}" defer></script>
  
{% endblock %}

